<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3c7c43448a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    
    <title>The Running Club</title>
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href=#>The Runners Club</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	        Menu
	        <i class="fas fa-bars"></i>
	      </button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href=#>Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=#>Articles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=#>Our Runs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=#>Register</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href=#>Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <!-- Page Header -->
    <header>

    </header>
 
    <!-- Main Content-->
    <div class="container">
    
    {% block content %}
    {% endblock %}
    
    </div>

    <hr>

    <!-- Footer -->
    <footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
	                  <i class="fas fa-circle fa-stack-2x"></i>
	                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
	                </span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
	                  <i class="fas fa-circle fa-stack-2x"></i>
	                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
	                </span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
	                  <i class="fas fa-circle fa-stack-2x"></i>
	                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
	                </span>
							</a>
						</li>
					</ul>
					<p class="copyright text-muted">Copyright &copy; Steven Smith <span id="copyright"></span></p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>